.maintxt {
    background: #cfe2ff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f0f0f0;
    height: 500px;
    width: 100%;
}