.custom-font-size-h1 {
    font-size: 3rem; 
  }
  
  .custom-font-size-span {
    font-size: 1.8rem; 
  }
  
  .custom-image-size {
    width: 100%; 
    height: auto;
  }
  .card-img-top{
    width: 40px; 
    height: 50px;
  }
  