.sidebar{
    background-color:rgb(255, 255, 255);
    width: fit-content;
    height:100vh;
    @media (max-width: 992px) {
        overflow-x: scroll;
        width: 100%;
        height: fit-content;
      }
}